name: Notebooks

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-notebooks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install nbconvert ipykernel

    - name: Execute notebooks
      run: |
        mkdir -p executed_notebooks
        find examples -name "*.ipynb" -print0 | xargs -0 -I {} jupyter nbconvert --to notebook --execute {} --output-dir executed_notebooks


    - name: Upload executed notebooks
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: executed-notebooks-${{ matrix.python-version }}
        path: executed_notebooks/*.ipynb
